{% extends "blogs/blog_base.html" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
	<h2>Sign Up</h2>
    <div class="row blog-container">
        <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}