{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}

{% block list %}
<ul class="dropdown-menu">    
    {% for section in sections %}
        <li><a href="{% url 'blog_section' section.slug %}">{{section.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    <a href="#">Author's Information</a>
                </h1>
                <p class="lead">
                    {{request.user.username}}<br>
                    {{request.user.first_name}}<br>
                    {{request.user.last_name}}<br>
                    {{request.user.email}}<br>
                    <p><a href="{% url 'add_post' %}">add new post</a> | <a href="{% url 'manage_posts' %}">manage posts</a></p>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}