{% extends "blogs/blog_base.html" %}

{% block head_title %}{{ SITE_NAME }}{% endblock %}

{% block content %}
    {% if posts %}
        <div class="post-list">
        <p><a href="{% url 'home' %}">back</a></p>
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    {% include "blogs/dateline.html" %}
                    <div class="teaser">{{ post.teaser_html|safe }}</div>
                    <p><a href="{% url 'update_post' post.id%}">update post</a> | <a href="{% url 'delete_post' post.id %}">delete post</a></p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No blog posts have been published.</p>
    {% endif %}
{% endblock %}
