{% extends "blogs/blog_base.html" %}

{% block head_title %}Contact Us{% endblock %}

{% block body %}
	<h2>Contact Us</h2>
    <div class="row blog-container">
        <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
