{% extends "blogs/blog_base.html" %}

{% block head_title %}New Post{% endblock %}

{% block body %}
	<h2>Write New Post</h2>
    <div class="row blog-container">
        <form action='/add_post/' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
